.vscode/settings.json
.env
Ayase1.png
Ayase2.png
Ayase3.png
Ayase4.png
Ayase5.png
Hazuki1.png
Mako1.png
Mako2.png
Mayu1.png
Mayu2.png
Mayu3.png
Murasame1.png
Murasame2.png
Murasame3.png
Murasame4.png
Murasame5.png
Murasame6.png
Murasame7.png
Murasame8.png
etc/__pycache__/picture.cpython-39.pyc
etc/__pycache__/words.cpython-39.pyc
